{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Url shortener gratis, url shortener gratis tanpa iklan, url shortener, bit.ly" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css'/>
    <title>Ups..Sorry data not found on this server</title>
</head>
<body>
    <div class='container'>
        <div class='error-msg'>
            <h1>404</h1>
            <h4>PAGE NOT FOUND</h4>
        </div>
    </div>
</html>